@import "https://unpkg.com/open-props";

* { box-sizing: border-box }

body {
  display: grid;
  place-content: center;
  
  margin: 0;
  min-height: 100vh;
  
  font-family: var(--font-sans);
  line-height: 1.5;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-4);
  margin: var(--size-5);
}

div {
  display: grid;
  place-content: center;
  
  width: 6rem;
  aspect-ratio: 1.25 / 1;
  
  border-radius: var(--radius-2);
  background-color: var(--gray-3);
}

.draggable {
  cursor: move;
}

.draggable:hover {
  opacity: 0.7;
}

.draggable.dragged {
  opacity: .3;
  cursor: default;
}

.droppable {
  outline: 3px dotted var(--gray-10);
  background-color: var(--gray-3);
}

.droppable.droppable-hover {
  outline-width: 4px;
  background-color: var(--gray-6);
}

.droppable.dropped {
  outline: 2px solid var(--gray-8);
  color: #fff;
}